
.signupBox{
    border: 1px solid red;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 8px 25px;
    text-align: center;
    margin: auto;
    margin-top: 6%;
    width: 360px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 15px;
    
}

.signupBox input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px auto;
   width: 330px;
    border:1px solid rgb(196, 196, 196);
    border-radius: 10px;
    font-size: 1.1rem;
    
}

.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}